#footer {
  padding: 4rem;
  svg {
    &.heart {
      color: #f11748;
    }
    display: inline-block;
    margin-bottom: -8px;
    padding: 0 0.125rem;
  }
  p {
    text-align: center;
    margin-bottom: 2rem;
    &.dim {
      margin-bottom: 0.5rem;
      opacity: 0.75;
    }
  }
  a {
    color: inherit;
  }
}
